body{
	overflow: hidden !important;
}

.loader {

position : fixed;
z-index: 9999;
background : url('https://cdn.dribbble.com/users/703698/screenshots/3171112/red-spinner.gif') 50% 50% no-repeat;
background-color: #151921;
top : 0px;
left : 0px;
height : 100%;
width : 100%;
cursor : wait;
}

.btn-space
{
	margin-bottom: 1%;
}

.img-grp
{
    height: 50px;
    width: 50px;
}

.titre-grp
{
    font-weight: bold;
}

.description-grp
{
    font-weight: normal;
}

.btn-click
{
    cursor: hand;
}